[submodule "py_library_eth"]
	path = lib/py_library_eth
	url = git@github.com:Michael-Yongshi/Py-Library-ETH.git
[submodule "py_library_nfc"]
	path = lib/py_library_nfc
	url = git@github.com:Michael-Yongshi/Py-Library-NFC.git
